<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-burgereaten="{{devour}}">
        {{#if sleep}}DEVOUR IT!{{else}}LEAVE IT!{{/if}}
    </button>

</li>

{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}